
<div class="home-main-card">
    <h1 class="home-title">Junior FrontEnd WebDeveloper</h1>
    <section class="my-description">
        <span class="about-me">Hey, my name is Bartłomiej Bielawski. I am a developer with more than 3 years of industry experience in website design, creating, composing and implementing solutions in web technologies. My experience bases on many projects I've been working on, therefore passion and my background come together to create an interactive websites. I always try my best when working to make my code look tidy and easy to refactor, though I am only on the beginning of my career. I like to contribute my best features to the team to be useful and productive. </span>
        <div class="main-card-image">
            <img src="../../../assets/images/main/profilowe.jpg" alt="">
        </div>
    </section>
</div>
<mat-tab-group>
    <mat-tab label="Career"><app-career></app-career></mat-tab>
    <mat-tab label="Schooling"><app-schooling></app-schooling></mat-tab>
    <mat-tab label="Characteristic"><app-characteristic></app-characteristic></mat-tab>
</mat-tab-group>

