<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div fxLayout="row" fxLayoutAlign="space-around center" >
    <!-- <div class="clients-counter"></div>
    <div class="petrol-tankers-counter"></div>
    <div class="petrol-tones-sold-counter"></div>
    <div class="establishments-counter"></div>
    <div class="foreign-country-partners-counter"></div> -->

	<mat-grid-list cols="4" rowHeight="3:1" class="grid-layout-custom">
		<mat-grid-tile>
			<mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
		</mat-grid-tile>
		<mat-grid-tile>2</mat-grid-tile>
		<mat-grid-tile>3</mat-grid-tile>
		<mat-grid-tile>4</mat-grid-tile>
	</mat-grid-list>
    
    
  </div>
</div>
